
// Cores para o tema claro
$Color1: #F257A0;
$Color3: #5852F2;
$Color4: #00CCFF;
$Color2: #8130F2;
$ColorBlack: #121212;
$ColorWhite: #FFFFFF;

// Cores para o tema escuro
$darkThemeColor1: #A02CF2;
$darkThemeColor2: #F23030;
$darkThemeColor3: #52F285;
$darkThemeColor4: #FFCC00;
$darkThemeColorBlack: #FFFFFF;
$darkThemeColorWhite: #121212;