@import '/src/assets/main';

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;

    .navigation {

        position: fixed;
        width: 300px;
        height: 100%;

        background: $Color1;
        border-left: 10px solid $Color1;
        transition: 0.5s;
        overflow: hidden;

        &.active {
            width: 72px;
        }

        ul {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            li {
                position: relative;
                width: 100%;
                list-style: none;
                border-top-left-radius: 32px;
                border-bottom-left-radius: 32px;

                &:hover {
                    background: $ColorWhite;

                    // Curvatura Selecionada

                    a::before{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: -50px;
                        width: 50px;
                        height: 50px;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 32px 32px 0 8px $ColorWhite;
                        pointer-events: none;
                    }

                    a::after{
                        content: '';
                        position: absolute;
                        right: 0;
                        bottom: -50px;
                        width: 50px;
                        height: 50px;
                        background: transparent;
                        border-radius: 50%;
                        box-shadow: 32px -32px 0 8px $ColorWhite;
                        pointer-events: none;
                    }
                }
                
                &:nth-child(1) {
                    margin-bottom: 40px;
                    pointer-events: none;
                }

                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    display: flex;
                    text-decoration: none;
                    color: $ColorWhite;

                    &:hover {
                        color: $Color1;
                    }

                    .icon {
                        position: relative;
                        display: block;
                        min-width: 56px;
                        height: 56px;
                        line-height: 64px;
                        text-align: center;

                        ion-icon {
                            font-size: 1.75em;
                        }
                    }

                    .title {
                        position: relative;
                        display: block;
                        padding: 0 8px;
                        height: 56px;
                        line-height: 56px;
                        text-align: start;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

// Conteúdo Principal

    .main {
        position: absolute;
        width: calc(100% - 300px);
        left: 300px;
        min-height: 100vh;
        background: $ColorWhite;
        transition: 0.5s;

        &.active {
            width: calc(100% - 72px);
            left: 72px;
        }

        .topbar {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 8px;

            .toggle {
                position: relative;
                top: 0;
                width: 56px;
                height: 56px;
                display: flex;
                justify-content: center;
                font-size: 2.5em;
                cursor: pointer;
            }

            .search {
                position: relative;
                width: 400px;
                margin: 0 8px;

                visibility: hidden;
                opacity: 0;

                label {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                        height: 40px;
                        border-radius: 40px;
                        padding: 4px 24px;
                        padding-left: 32px;
                        font-size: 16px;
                        outline: none;
                        border: 1px solid $ColorBlack;
                    }

                    ion-icon {
                        position: absolute;
                        top: 0;
                        left: 8px;
                        font-size: 1.2em;
                    }
                }
            }

            .user {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// Responsividade

@media (max-width: 991px) {

    .container {
  
        .navigation {
  
            left: -300px;
    
            &.active {
                width: 100%;
                left: 0;
            }
        }
    
        .main {
            
            width: 100%;
            left: 0;
        }
    }
}

@media (max-width: 480px) {
    .container {
  
        .navigation {
            
            width: 100%;
            left: -100%;
            z-index: 1000;

            &.active {
                width: 100%;
                left: 0;
            }
        }
    
        .main {

            &.active {
                
                .toggle {
                    position: fixed;
                    right: 0;
                    left: initial;
                    color: $ColorWhite;
                }
            }
            
            .topbar {

                .toggle {
                    z-index: 10001;
                }
                
                .user {
                    min-width: 40px;
                }
            }
        }
    }
}